{% extends 'page.html' %}

{% block title %}404 – transportthing.uk{% endblock %}

{% block bodyclass %}narrow{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

    <h1>Page not found</h1>

    {% if exception.args %}
        <p>{{ exception }}</p>
    {% else %}
        <img src="https://http.cat/404" alt="404 Not Found" />
    {% endif %}

    <form method="get" action="/search-query" class="search">
        <h2><label for="q">Search</label></h2>
        <input name="q" id="q" type="search" required>
        <input type="submit" value="Search">
    </form>

{% endblock content %}
