{% extends 'page.html' %}

{% block title %}Site Changes{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://transportthing.uk/rules">
{% endblock canonical %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Recent Site Changes</h1>

<ul class="changes">
    {% for note in notes %}
        <li style="margin-bottom: 1em;">
            <strong>{{ note.date|date:"d/m/Y" }}:</strong>
            {{ note.note|linebreaksbr }}
            {% if note.link_url and note.link_text %}
                (<a href="{{ note.link_url }}">{{ note.link_text }}</a>)
            {% endif %}
        </li>
    {% empty %}
        <li>No change notes yet.</li>
    {% endfor %}
</ul>


{% endblock content %}

