{% extends 'page.html' %}

{% block canonical %}
    <link rel="canonical" href="https://transportthing.uk">
{% endblock canonical %}

{% block bodyclass %}narrow{% endblock %}

{% block breadcrumb %}{% endblock %}

{% block content %}

<p>
    turning operators open data into <a href="/map">real-time maps</a>, timetables and more</p>
</p>

<div class="panes">
    <div class="pane">
        <form method="get" action="/search-query" class="search">
            <h2><label for="q">Search</label></h2>

            <p><label for="q">Search for places, operators or routes</label></p>
            <p>
                <input id="q" name="q" type="search" required>
                <input type="submit" value="Search" style="color: white">
            </p>
        </form>
    </div>
    <div class="pane">
        <h2>Map</h2>
        <p><a href="/map" class="button" style="color: white">Track buses and find bus stops!</a></p>
        <p><a href="/operators/nasa" class="button" style="color: white">Check out the Satellites we're tracking!</a></p>
        <p><a href="/region/TT" class="button" style="color: white">Fancy a Train List? We've Got You!</a></p>
    </div>
</div>
<h2>Regions</h2>

<ul class="regions">
    {% if request.headers.cf_ipcountry == "IE" %}
    <li>Ireland
        <ul class="long">
            <li><a href="/region/CO">Connacht</a></li>
            <li><a href="/region/LE">Leinster</a></li>
            <li><a href="/region/MU">Munster</a></li>
            <li><a href="/region/UL">Ulster</a></li>
        </ul>
    </li>
    <li><a href="/regions/NI">Northern Ireland</a></li>
    {% endif %}
    <li>England
        <ul class="long">
            <li><a href="/region/EA">East Anglia</a></li>
            <li><a href="/region/EM">East Midlands</a></li>
            <li><a href="/region/L">London</a></li>
            <li><a href="/region/NE">North East</a></li>
            <li><a href="/region/NW">North West</a></li>
            <li><a href="/region/SE">South East</a></li>
            <li><a href="/region/SW">South West</a></li>
            <li><a href="/region/WM">West Midlands</a></li>
            <li><a href="/region/Y">Yorkshire</a></li>
        </ul>
    </li>
    <li>Other regions in the UK
    <ul class="long">
        <li><a href="/region/W">Wales</a></li>
        <li><a href="/region/S">Scotland</a></li>
        <li><a href="/region/GB">Great Britain</a></li>
    </ul>
    {% if request.headers.cf_ipcountry != "IE" %}
    <li><a href="/region/NI">Northern Ireland</a></li>
    <li>Ireland
        <ul class="long">
            <li><a href="/region/CO">Connacht</a></li>
            <li><a href="/region/LE">Leinster</a></li>
            <li><a href="/region/MU">Munster</a></li>
            <li><a href="/region/UL">Ulster</a></li>
        </ul>
    </li>
    {% endif %}
    </li>
    <li>Outer Islands
        <ul class="long">
            <li><a href="/region/IM">Isle of Man</a></li>
            <li><a href="/region/GG">Guernsey</a></li>
            <li><a href="/region/JE">Jersey</a></li>
        </ul>
    </li>
</ul>
{% endblock content %}
