{% if not show_alert %}
<div class="maintenance-alert" style="
    color: #ffffff;
    padding: 28px 28px;
    text-align: center;
    line-height: .8rem;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('//cdn.transportthing.uk/maintenance.svg?s');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
">
    <p>&#9888; <strong>Heads Up!</strong> We're making a few changes to the site</p>
    <p>Expect brief interruptions for the next hour or so.<br>We apologize for any inconvenience!</p>
</div>
{% endif %}
