{% if show_alert %}
<div class="maintenance-alert" style="
    color: #ffffff;
    padding: 28px 28px;
    text-align: center;
    line-height: .8rem;
    font-weight: bold;
    margin-bottom: 15px;
    background-image: url('//cdn.transportthing.uk/maintenance.svg?s2');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
">
    <p>&#9888; <strong>Notice: </strong>Ticketer Maintenance is happening soon</p>
    <p>the tracking for operators that use Ticketer<br>will be down or unstable during the maintenance</p>
</div>
{% endif %}
