<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title>{% block title %}{% if object %}{% firstof object.get_long_name object.get_qualified_name object %} – {% endif %}TransportThing{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#2E8A9E" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#111111" media="(prefers-color-scheme: dark)">
<meta name="color-scheme" content="dark light">
<meta name="format-detection" content="telephone=no">
{% block canonical %}
    {% if object.get_absolute_url %}
        <link rel="canonical" href="https://transportthing.uk{{ object.get_absolute_url }}">
    {% endif %}
{% endblock canonical %}
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://transportthing.uk","name":"TransportThing","potentialAction":{"@type":"SearchAction","target":"https://transportthing.uk/search-query?q={q}","query-input":"required name=q"}}</script>
<script>
  const darkMode = window.matchMedia('(prefers-color-scheme: dark)').matches;
  const savedStyle = localStorage.getItem('map-style');
  
  if (savedStyle) {
    document.documentElement.setAttribute('savedStyle', savedStyle);
  } else if (darkMode) {
    document.documentElement.setAttribute('savedStyle', 'dark');
  }
</script>

{% load static %}
<!-- <link rel="icon" sizes="48x48" type="image/png" href="/favicon.ico"> -->
<link rel="icon" sizes="any" type="image/svg+xml" href="https://cdn.discordapp.com/icons/1337054349267959898/bcb0fa2c5561cb082d1e8fb83f4e6566.webp?size=1024">
<link rel="manifest" href="/static/manifest.webmanifest">
<link rel="stylesheet" href="/static/dist/css/style.css">

<meta property="og:url" content="https://transportthing.uk">
<meta property="og:type" content="website">
<meta property="og:image" content="https://opengraph.b-cdn.net/production/images/e6ba83f8-a2e3-4006-87e0-599c28688ba6.png?token=isX_Brt9jbXdVzl4_ge1sfFeiq7EPxvzrKARyreIGPE&height=399&width=1200&expires=33290495612">

<meta name="twitter:card" content="summary_large_image">
<meta property="twitter:domain" content="transportthing.uk">
<meta property="twitter:url" content="https://transportthing.uk">
<meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/e6ba83f8-a2e3-4006-87e0-599c28688ba6.png?token=isX_Brt9jbXdVzl4_ge1sfFeiq7EPxvzrKARyreIGPE&height=399&width=1200&expires=33290495612">
{% block head %}{% endblock %}
</head>
<body class="{% block bodyclass %}wide{% endblock %}{% if ad is False %} no-ads{% endif %}">
<script>
(function () {
    var a = localStorage && localStorage["map-style"];
    var m = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
    if ((!a || a === "aws_satellite") && m || a && a.indexOf("_dark") !== -1) {
        document.body.classList.add("dark-mode")
    }
})();
</script>

<a href="#content" class="skip">Skip to main content</a>
{% block header %}
<header class="site-header">
    <div>
        <a href="/" class="site-name"></a>
        <ul>
            <li><a style="color: #ffffff;" href="/map{% if object.latlong %}#16/{{ object.latlong.y|floatformat:4 }}/{{ object.latlong.x|floatformat:4 }}{% endif %}">Map</a></li>
        </ul>
        <form method="GET" action="/search-query" class="search">
            <label>
                Search
                <input style="color: #ffffff;" name="q" placeholder="Search" type="search" value="{{ query }}" required>
            </label>
            <input type="submit" style="color: #ffffff;" value="Search">
        </form>
    </div>
</header>
{% endblock header %}
<main>
{% load maintenance_tags %}
{% show_maintenance_alert %}
    {% block breadcrumb %}{% include 'breadcrumb.html' %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</main>

{% block footer %}
<footer>
    {% if user.is_authenticated %}
        <form action="{% url 'logout' %}" method="POST">
            <ul class="user">
                <li><a href="/accounts/users/{{ user.id }}">User: {{ user.id }} | {{ user.username|default:'' }}</a></li>
                {% if user.trusted %}
                      <li><a href="/vehicles/edits?status=pending" title="Requires Trusted status to view">Pending Edits</a></li>
                {% else %}
                  <li><a href="/vehicles/edits?user={{ user.id }}&status=approved" title="Approved Edits">Your Edits</a></li>
                {% endif %}
                {% if user.is_staff %}
                       <li><a href="/admin" title="Admin Panel">Admin Panel</a></li>
                {% endif %}
                <li>
                    {% csrf_token %}
                    <button type="submit" class="button" style="color: white;">Log out</button>
                </li>
            </ul>
        </form>
    {% endif %}

    <ul>
        <li><a href="/rules">Rules & FAQ</a></li>
        <li><a href="/discord">Discord</a></li>
    {% if not user.is_authenticated %}
        <li><a href="/accounts/login" class="button" style="color: white;">Login</a></li>
    {% endif %}
        <li><a href="/contact">Contact</a></li>
        <li><a href="/updates">Site Updates</a></li>
        <!--<li><a href="/data">Data sources</a></li>
        <li><a href="/privacy">Privacy policy</a></li>-->
    </ul>


    	{% include "motd_partial.html" %}
<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
<script type='text/javascript'>kofiwidget2.init('Support us on Ko-fi', '#33a0bb', 'W7W21AYHUU');kofiwidget2.draw();</script>
<!-- ads code to be added soon to replace donation link. don't want to donate because you think its a scummy thing to ALLOW people to donate to a project? cool, have ads instead. -->
<script defer data-domain="transportthing.uk" src="https://metric.snubs.dev/js/script.file-downloads.hash.outbound-links.pageview-props.revenue.tagged-events.js"></script>
<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

</footer>
{% endblock footer %}


{% block foot %}{% endblock %}

</body>
</html>
