{% extends 'page.html' %}

{% block title %}Rules & FAQ{% endblock %}

{% block canonical %}
    <link rel="canonical" href="https://timesbus.org/rules">
{% endblock canonical %}

{% block bodyclass %}narrow{% endblock %}

{% block content %}

<h1>Vehicle editing rules</h1>

<p>Vehicle details (type, colour etc.) are user-editable.
    If you want to get involved, great! But please follow these rules, so you don’t waste your time and others’:</p>

<ol class="rules">
        <li><p><a href="https://bustimes.org">bustimes.org</a> cannot be used as evidence for edits.</p></li>
	<li><p>If a vehicle is <strong>tracking on the wrong entry</strong>, please <strong>don't try to correct it.</strong> Our entries come from tracking data, and will need to be corrected by operators.</p></li>
	<li><p>Do not remove vehicles from our list using the "remove from list" feature because they havent tracked (in a while), because they are on sale (or advertised for), or just because they were in an accident.</p></li>
	<li><p>Do not change a vehicles livery because its sanded down or is "being painted", please share a picture of the painted vehicle to update it.</p></li>
	<li><p>You should supply evidence, such as a picture you've <a href="https://imgur.com/upload">uploaded to Imgur</a> or a link to your evidence. However, please dont share evidence on <strong>private facebook groups</strong> as we cant see them, provide a picture of the post instead.</p></li>
	<li><p>Do not send edits to leave messages, please contact us on our <a href="https://timesbus.org/discord">discord</a> instead.</p></li>
	<li><p>Give people the benefit of the doubt – if they have a track record of being reliable, it's OK if they haven't provided evidence.</p></li>
	<li><p>Don't undo/decline someone else's changes unless you have good reason to believe they are wrong.</p></li>
        <li><p>Don't request people to approve your edits, this will just make them sit in the queue longer.</p></li>
</ol>

<p>Users can <a href="/contact">report content</a> which they believe to be harmful, illegal, or or otherwise unsuitable.
    If we deem your content to be harmful, illegal, or otherwise unsuitable, we will permanently delete that content, and may ban your account from adding or editing content.</p>

{% if form %}
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Let me edit">
    </form>
{% else %}

<h2>FAQ</h2>

	    <h3>Why was my edit disapproved?</h3>
	    <p>To limit chaos, some users can approve/disapprove others' contributions. (This doesn't make them special or "admins" – there's no such thing!)
	        I know some of the rules above are onerous, and they aren't written in stone, but if your edit was disapproved it probably broke one of them.</p>
	    
	    <h3>How do I add a vehicle?</h3>
	    
	    <p>Simply join our <a href="https://timesbus.org/discord">discord</a> and request in the <a href="https://discord.com/channels/1337054349267959898/1359292719092072598">brute add requests</a> channel, and our team will add them when they are free.</p>
	    
	    <h3>How do I add or edit a livery?</h3>
	    
	    <p>Sorry, only a few users can do that, you can request them in our <a href="https://timesbus.org/discord">discord</a>.</p>
	    
	    <h3>I have a different question, or maybe a comment</h3>
	
	    <p><a href="/contact">Ask our team by email</a> or <a href="https://timesbus.org/discord">the Discord server</a>.</p>

{% endif %}

{% endblock content %}
