{% extends "admin/base_site.html" %}

{% block branding %}
<h1 id="site-name"><a id="alogo" href="{% url 'admin:index' %}"></a></h1>
{% endblock %}

{% block extrahead %}
    <style>
        .actions {
            position: sticky;
            top: 0;
        }
    </style>

    <style>
        #site-name, #alogo {
            width: 142px;
            height: 19px;
        }

        #alogo {
            background-image: url(//cdn.transportthing.uk/admin_logo.svg?v24);
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            top: 1rem;
        }
        /* Your custom CSS for the header */
        #header {
            background: #222222;
            color: white;
        }
        #site-name a {
            color: white;
        }
    </style>
{% endblock extrahead %}