name: transportthing.uk

on:
  push:
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-24.04
    timeout-minutes: 5

    permissions:
      contents: read

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - run: npm install
    - run: npm run lint
    - run: npm test
    - run: npm run build

    - uses: actions/upload-artifact@v4.4.3
      with:
        name: dist
        path: busstops/static
        if-no-files-found: error

  build:
    runs-on: ubuntu-24.04
    needs:
      - tests
    timeout-minutes: 5

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v4
    - name: Tailscale
      uses: jaxxstorm/action-setup-tailscale@v0.0.1
      with:
        authkey: ${{ secrets.TS_AUTHKEY }}
        tags: tag:prod

        version: latest
        statedir: /tmp/tailscale-state/

    - uses: docker/setup-qemu-action@v3
    - uses: docker/setup-buildx-action@v3

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        cache: true

    - name: Build and push container to GitHub CR
      uses: docker/build-push-action@v5
      with:
          context: .
          platforms: linux/amd64
          push: true
          tags: |
              ghcr.io/transportthing/transportthing.uk:latest
    - name: Pull the latest git code
      run: |
        ssh -o "StrictHostKeyChecking no" root@baldrick "
          cd /svcs/transportthing.uk
          git pull
        "
    - name: Pull the latest docker image to baldrick (TT Host)
      run: |
        ssh -o "StrictHostKeyChecking no" root@baldrick "
          cd /svcs/tt-web
          docker compose pull
        "