<!doctype html>
<html lang="en-GB">
<head>
<meta charset="utf-8">
<title>{% block title %}{% if object %}{{ object.get_long_name or object.get_qualified_name or object }} – {% endif %}timesbus.org{% endblock %}</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="theme-color" content="#afdee9" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#164450" media="(prefers-color-scheme: dark)">
<meta name="color-scheme" content="dark light">
<meta name="format-detection" content="telephone=no">
{% block canonical %}
    {% if object.get_absolute_url %}
        <link rel="canonical" href="https://transportthing.uk{{ object.get_absolute_url }}">
    {% endif %}
{% endblock canonical %}
<script type="application/ld+json">{"@context":"http://schema.org","@type":"WebSite","url":"https://transportthing.uk","name":"TransportThing","potentialAction":{"@type":"SearchAction","target":"https://transportthing.uk/search-query?q={q}","query-input":"required name=q"}}</script>

<!-- <link rel="icon" sizes="48x48" type="image/png" href="/favicon.ico"> -->
<link rel="icon" sizes="any" type="image/svg+xml" href="https://cdn.discordapp.com/icons/1337054349267959898/bcb0fa2c5561cb082d1e8fb83f4e6566.webp?size=1024">
<link rel="manifest" href="{{ static('manifest.webmanifest') }}">
<link rel="stylesheet" href="/static/dist/css/style.css">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@timesbus_org">

{% block head %}{% endblock %}

{% block fuse %}
{% if ad %}
<!-- <script src="{{ static('consent.js') }}"></script> -->
{% endif %}
{% endblock fuse %}

</head>
<body class="{% block bodyclass %}wide{% endblock %}{% if ad is false %} no-ads{% endif %}">
<script>
(function () {
    var a = localStorage && localStorage["map-style"];
    var m = window.matchMedia && window.matchMedia("(prefers-color-scheme: dark)").matches;
    if ((!a || a === "alidade_satellite") && m || a && a.indexOf("_dark") !== -1) {
        document.body.classList.add("dark-mode")
    }
})();
</script>
<a href="#content" class="skip">Skip to main content</a>
{% block header %}
<header class="site-header">
    <div>
        <a href="/" class="site-name"></a>
        <ul>
            <li><a href="/map{% if object.latlong %}#16/{{ object.latlong.y }}/{{ object.latlong.x }}{% endif %}">Map</a></li>
        </ul>
        <form method="GET" action="/search-query" class="search">
            <label>
                Search
                <input name="q" placeholder="Search" type="search" value="" required>
            </label>
            <input type="submit" value="Search">
        </form>
    </div>
</header>
{% endblock header %}
<main>
    {% block breadcrumb %}{% include 'breadcrumb.html' %}{% endblock %}
    <div id="content">
        {% block content %}{% endblock %}
    </div>
</main>

{% block footer %}
<footer>
    {% if request.user.is_authenticated %}
        <form action="{{ url('logout') }}" method="POST">
            <ul class="user">
                <li><a href="{{ url('user_detail', args=[request.user.id]) }}">Logged in as {% if request.user.username %}{{ request.user.username }}{% else %}{{ request.user.id }}{% endif %}</a></li>
                <li><a href="/rules">Rules & FAQ</a></li>
                <li><a href="https://timesbus.org/discord">Discord</a></li>
            </ul>
        </form>
    {% endif %}
    <ul>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/data">Data sources</a></li>
        <li><a href="/privacy">Privacy policy</a></li>
        {% if ad %}<li><a href="javascript:window.__tcfapi('displayConsentUi',2,function(){})">Privacy settings</a></li>{% endif %}
    </ul>
    <div class="motd" style="margin-bottom: 20px; border-radius: 10px; border: 1px solid #1d5560; padding: 20px; box-sizing: border-box;">
    	{% include "motd_partial.html" %}
    </div>
<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script>
<script type='text/javascript'>kofiwidget2.init('Support us on Ko-fi', '#164450', 'W7W21AYHUU');kofiwidget2.draw();</script>

</footer>
{% endblock footer %}

{% block foot %}{% endblock %}

</body>
</html>
